---
title: "#teamSass"
---

- content_for :introduction do
  Sass имеет прекрасное сообщество дизайнеров и разработчиков, которые любят
  высказываться и помогать людям. На данной страничке собрана небольшая коллекция ресурсов.
  Стилизуйте на здоровье!



%ul.list-tiled.anchors
  %li
    :markdown
      Только __приступаете__? Есть несколько хороших [руководств](#Tutorials),
      которые помогут "встать на ноги". Хотите __больше__? Есть несколько
      хороших [блогов о Sass](#Blogs)(в том числе и [несколько статей](#Articles), которые мы 
      рекомендуем прочитать), и даже [несколько книг о Sass](#Books), которые 
      помогут Вам изучить много нового и полезного.

  %li
    :markdown
      Сообщество Sass невероятно. Существует ряд [фреймворков](#Frameworks),
      которые делают использование Sass простым. Хотите попробовать Sass 
      на Node, Python или другом языке или фреймворке? Посетите
      [оболочки libSass](/libsass).

      Думаете __сделать вклад__ в развитие Sass? Мы принимаем во внимание
      любые факторы и идеи для того, чтобы оставаться постоянно стабильными.
      Не бойтесь [вносить правки через pull request](#Contribute) в репозиторий Sass.

  %li
    :markdown
      __Мы приветствуем всех в сообществе Sass, кроме тех, кто недоброжетелен
      по отношению к членам сообщества__. Пожалуйста, прочитайте и следуйте
      [принципам сообщества](/community-guidelines).


%hr/

.content-primary
  %h2#Articles Статьи о Sass
  %ul.articles
    - for article in data.community.articles
      %li
        %h3= link_to article.name, article.url
        %p= article.description

  %h2#Contribute Вклад в развитие
  %p Sass - проект с открытым исходным кодом и мы призываем Вас внести свой вклад. Вы можете внести свою лепту с помощью сообщений об ошибках, общений с пожеланиями, ну а если у Вас есть реальное решение, которое может нам всем помочь, то мы Вас будем любить вечно.

  %p При добавлении ошибок, пожеланий или решений мы используем пару основных веток.

  %dl
    %dt= link_to "Стабильная (Stable)", "https://github.com/sass/sass"
    %dd

      Стабильная ветка - ветка, где мы развиваем выпущенную версию. Большинство исправлений ошибок
      доолжно идти сюда. Если вы просто хотите <a href="https://github.com/sass/sass/issues">сообщить об
      ошибке</a>, то в комментарии не забудьте указать версию Sass, в которой вы столкнулись с данной
      проблемой. Если у Вас есть решение проблемы, сделайте форк стабильной ветки, внесите правки и 
      отправьте нам с помощью pull request. Мы внимательно ознакомимся с Вашим решением и какое бы
      ни было решение, положительное или отрицательное, мы оставим свой комментарий. Все исправления ошибок
      должны быть тщательно проверены и тесты должны <a href="https://travis-ci.org/sass/sass/builds">пройти</a> 
      во всех поддерживаемых версиях Ruby.

  %dl
    %dt= link_to "Основная (Master)", "https://github.com/sass/sass/tree/master"
    %dd
      Основная ветка - ветка, где мы отслеживаем следующие версии Sass. Новые запросы должны быть сделаны
      в <a href="https://github.com/sass/sass/issues">трекере обращений</a> и обсуждены с членами 
      <a href="http://github.com/nex3">основной</a> <a href="http://github.com/chriseppstein">команды</a> 
      до начала их осуществления, чтобы избежать напрасных усилий. Pull request с новыми функциями должны
      бить сделаны в основную(master) ветку. Ни одно из принятых изменений не должно ломать таблицу стилей
      через последовательные релизы; каждое "ломающее" изменение языка должно быть в первую очередь устранено.


  %h2#PullRequests Pull Request и Исправления
  %p Вот несколько простых вещей, которые вы должны будете выполнить при внесении изменений через pull request:
  %ul
    %li Пишите сообщение коммита правильно, грамотно. Сообщение должно иметь характер описания с надлежащей грамматикой и пунктцацией.
    %li Убедитесь, что в первой строке Вашего сообщения содержится весь смысл коммита, но в кратком содержании.
    %li Ваш коммит должен содержать в себе соответствующие модульные тесты.
    %li Добавляйте изменения в список изменения __правильной__ ветки. Список изменений в <code>doc-src/SASS_CHANGELOG.md</code>
    %li Если Ваши изменения касаются клиентской части, сделайте обновление в соответствующем разделе справочной документации.
    %li Не объединяйте несколько функций и исправление ошибок в один pull request.
    %li Все предложенные решения тщательно изучаются и, вероятно, потребуется несколько итераций исправлений, прежде, чем их примут.
    %li Все предложенные решения должны быть тщательно проверены и тесты должны <a href="https://travis-ci.org/sass/sass/builds">пройти</a> во всех поддерживаемых версиях Ruby.



.content-secondary
  %h3#Tutorials Руководства
  %ul
    - for tutorial in data.community.tutorials
      %li= link_to tutorial.name, tutorial.url

  %h3#Blogs Блоги о Sass
  %ul
    - for blog in data.community.blogs
      %li= link_to blog.name, blog.url

  %h3#Books Книги о Sass
  %ul
    - for book in data.community.books
      %li= link_to book.name, book.url

  %h3#Projects Проекты и Фреймворки
  %ul
    - for project in data.community.projects
      %li
        = link_to project.name, project.url
        &mdash;
        = project.description
