---
title: "Принципы сообщества"
---



%p.introduction
  Sass — это больше, чем просто технология; Sass находится под управлением целого сообщества,
  к числу которого относятся индивидуальные лица, которые повышают мощность ее развития, и
  популярность каждый новый день. Как и сообщество, мы хотим охватить и рассказать вам об
  основных различиях, которые собственно и сделали наше общее сотрудничество настолько мощным,
  а после и поработать вместе для того, чтобы обеспечить наилучшие условия для обучения,
  развития и обмена идеями. Крайне важен тот факт, что мы воспринимаем Sass, как веселое,
  приветливое, соревновательное и честное место для игры.

:markdown
  По сути, Sass подразумевает под собой некое руководство, пользуясь которым мы смогли бы узнать,
  как следует работать вместе и попросту вести себя, а не специфическую книжку, полную определенных правил.

  ## Мы стремимся:

  ### Быть внимательными

  Наша работа будет использоваться другими людьми, в свою очередь и мы, будем зависеть от работы
  других. Каждое принятое нами решение повлияет на пользователей и ваших коллег, и мы должны
  учитывать их каждый раз, когда будем принимать новые решения.

  ### Быть открытыми и приветливыми

  Благодаря тому разнообразию, которое находится внутри нашего сообщества, количество наших членов,
  увеличилось в разы. Мы готовы приветствовать всех людей, независимо от их пола, пути выражения
  своих эмоций, сексуальной ориентации, выбранной ими модели отношения с другими людьми, внешности,
  размеров тела, возраста, расы или религиозной принадлежности. Мы гордимся богатством своего опыта,
  который существенно помог нам в разработке, и в дальнейшем продвижение Sass. Словом, мы готовы
  пригласить всех желающих, за исключением тех пользователей, которые __не особо желают пользоваться
  услугами Sass__.

  ### Быть почтительными

  Помните о том, что даже разногласия, не могут являться оправданием для скверных манер. Мы готовы
  поработать вместе для того, чтобы решить сложившейся конфликт, а каждое принятое нами решение,
  несет в себе исключительно благие намерения. Мы не позволяем разочарованию превратится в личные
  нападки, поскольку то сообщество, в котором люди чувствует себя не совсем комфортно или даже испытывают
  некую угрозу — не может быть максимально продуктивным. К тому же, __преследования пользователей
  другими членами сообщества, никогда не поддерживается__.

  ### Нести ответственность за наши слова и действия

  Мы все можем ошибаться, но когда мы совершаем ошибки, мы должны брать на себя ответственность за те
  последствия, которые они нам принесут. Так, в том случае, если кому-то был причинен вред или он попросту
  обиделся, мы готовы внимательно его выслушать, а после и поработать для того, чтобы выяснить что пошло не так.

  ### Быть готовым к сотрудничеству

  То, что мы производим, подразумевает под собой самый настоящий комплекс, который состоит из многих частей.
  Сотрудничество между командами, каждый из которых, может похвастаться наличием своих собственных целей и
  видений. Как бы там ни было, для того, чтобы понять целый механизм работы, вам придется приложить усилия
  для того, чтобы как можно подробнее узнать об каждой его детали.

  Благодаря сотрудничеству, можно в разы уменьшить избыточность, а также улучшить общее качество нашей работы.
  Внутренне и внешне, мы отмечаем хорошее сотрудничество. Везде, где это возможно, мы пытаемся работать в тесном
  сотрудничестве с так называемыми upstream, а также и с другими проектами, которые находятся на территории
  сообщества свободного программного обеспечения и главное предназначение которых, полагает в координировании
  наших совместных усилий. Мы предпочитаем работать прозрачно, и таким образом, пытаемся привлечь заинтересованные
  стороны, как можно раньше.

  ### Значение решительности, ясности и открытого общения

  Социальные и технические разногласия, являются нормой, но мы не позволяем им сохранятся и буквально гноиться,
  оставляя при этом другие, ранее не согласованные направления.

  Мы ожидаем, что участники проекта конструктивно подойдут к процессу разрешения своих разногласий. Ну а в том
  случае, если им так и не удастся этого сделать, этот вопрос перерастет в проблему назначенных на мероприятии
  или в сообществе, руководителей, которые собственно и обеспечат их ясность.

  ### Быть отзывчивым и полезным

  Каждый из нас начинали свою деятельность будучи новенькими и неопытными пользователями. Более того, даже те
  пользователи, которые могут похвастаться наличием большого опыта за своими плечами, порой сталкиваются с ситуациями,
  могут забывать об существование некоторых элементарных вещей. Никто не надеется стать идеальным в нашем сообществе.
  У нас, вопросы поощряются, ведь те люди, которые их собственно и задают, воспринимаются, как отзывчивые, полезные и
  вежливые потребители. Даже когда эти вопросы ничего особенного собой не представляют и их достаточно часто задают,
  даже когда их предельно легко можно объяснить за счет всевозможной документации, необходимо понимать тот факт, что
  любой человек, каким бы специалистом он ни был, нуждается в тщательном объяснении.

  ### Уходить красиво

  Когда кто-то желает покинуть наше сообщество, мы просим их, дабы они сделали это таковым образом, чтобы их решения
  не препятствовало дальнейшему проведению нашего проекта, с использованием их, ранее опубликованных работ. Они должны
  рассказать людям о том, что они уходят и принять все необходимые меры для того, чтобы гарантировать пользователи могут
  остановиться тогда, когда они сами того пожелают.



- content_for :complementary do
  %h3 Лицензия

  %p
    Наши друзья в
    = link_to "Ubuntu", "http://www.ubuntu.com/about/about-ubuntu/conduct"
    и
    = link_to "Drupal", "https://www.drupal.org/dcoc"
    уже упорно трудились, для того чтобы развивать свои собственные
    принципы сообщества, и мы используем значительную их часть. Тем не менее
    мы внесли некоторые изменения, под свои конкретные потребности, как сообщества.

  %p
    Принципы сообщества Sass попадают под лицензию
    = succeed "." do
      = link_to "Creative Commons Attribution-Share Alike 3.0", "https://creativecommons.org/licenses/by-sa/3.0/us/"
    Вы можете использовать для своего проекта и изменять по собственному желанию,
    но не забывайте, пожалуйста, указывать о собственных изменениях и указывать
    разработчиков
    = succeed "," do
      = link_to "Ubuntu", "http://www.ubuntu.com/about/about-ubuntu/conduct"
    и
    = succeed "." do
      = link_to "Drupal", "https://www.drupal.org/dcoc"

  %h3 Соблюдение принципов сообщества

  %p
    Мы просим каждого индивидуально, а также каждого виртуального члена сообщества,
    придерживаться данного кодекса поведения, а также принимать меры для создания
    безопасного и привлекательного места для других пользователей. Данные действия также
    должны включать в себя и публикацию кодекса поведения, который четко описывает
    процедуры по недопущению любых посягательств на личное пространство и жизнь. Пожалуйста,
    если Вы чувствуете на себе какие то давления со стороны и явные отклонения от принципов кодекса?
    напишите нам:
    <script type="text/javascript">
    //<![CDATA[
    <!--
    var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i==28)y+=" +
    "i;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"zhp|T" +
    "HMM\\004C\\016_\\001R\\\\J^\\rG\\003_\\014\\020\\021\\030ZZ\\n,{:26>.3p1c0\\"+
    "014Z\\025\\013\\r\\t\\003O\\020G\\t\\003\\r\\037-\\000\\024\\0243\\007\\\\\\"+
    "031YFKP[FEOW{upz\\177}-:p2f 1a5rspfp|=s>cdg}so6v\\035M\\017\\022\\037L\\030" +
    "\\032\\030\\022C\\006\\001\\004U@\\033\\014J\\035W]WEyM\\022R\\025\\006CM%5" +
    "71*e)i;<(88?f\\177|>>zo(0\\177zplw\\000\\177\\022\\031.<3/TWV;469X\\\\]23BA" +
    "B/(BGG$%?MLM\\\"\\\\123XYr[TgVW==>SL4%!$IJ&*)FG+-.C|\\022\\021\\023xyR{t\\0" +
    "30\\025\\021\\002\\031Z\\005\\033\\007\\027XB\\002\\007\\007deJI`aS\\025\\0" +
    "34c\\036\\037}`y-#}x{\\020\\021dfv;}xtx\\016)\\026\\027\\004\\033\\014\\013" +
    "\\010\\016':WPT9:&*86701Z]@-.1,25?=LJK !\\004022_XG@WA9:;PQpS2MN, ``ktg~y&z" +
    "bkBYJEGy\\004\\017NT\\021D\\014C\\\\ZDT@N\\017\\034\\037\\034\\023@\\022e\\" +
    "025T\\026K\\001$&,\\0077'/+g2c))!\\014\\\"0:\\0209:$1v>42.)\\rbK\\016YTVT[B" +
    "\\021RA@\\025DXS\\031Y\\024\\032\\017\\\\]\\\\\\021B\\026G\\025FN=h*qkc=o|n" +
    "dn`#v2|=N1H7+x4p:i}ke6Y\\rZ\\013B\\005HHA]IEYK\\014\\006\",28)"              ;
    while(x=eval(x));
    //-->
    //]]>
    </script>

  %p
    Мы понимаем и осознаем, что «Сообщество Sass» - это неопределенная группа пользователей,
    которая считает себя энтузиастами Sass. У нас нет никакой власти, чтобы удалить
    кого-то из сообщества, в конце концов мы можем использовать свой голос как
    официальное неодобрение того или иного участника, который не следует данным принципам.
