---
title: Документация на русском языке
meta_desc: Sass - документация на русском языке. Что такое sass или scss?
meta_key: sass, scss, css, css3, html, ruby
h1: CSS с суперсилой
---


.hero-lockup
  %p.hero-image= image_tag "illustrations/glasses.svg", height: "160", alt: "Очки"
  %p.introduction
    Sass является наиболее развитым и стабильным расширением CSS профессионального уровня.

- content_for :section_bottom do
  %ul.list-tiled
    %li
      %h3 Совместимость с CSS
      %p
        Sass полностью совместим со всеми версиями CSS. Мы уделяем серьезное
        внимание совместимости, поэтому вы можете легко использовать любые
        доступные библиотеки CSS.
    %li
      %h3 Разнообразие функций
      %p
        Sass может похвастаться большим количеством возможностей, чем любой
        другой язык расширения CSS. Команда Sass Core бесконечно работает
        не только для поддержания этих возможностей, но и для того, чтобы быть
        впереди.
    %li
      %h3 Опыт
      %p
        Sass находится в активной разработке командой Sass Core более 9 лет и все это время
        команда относится к этому процессу с любовью.
    %li
      %h3 Поддержка индустрией
      %p
        Снова и снова сообщество разработчиков выбирает Sass как главное средство
        написания CSS.
    %li
      %h3 Большое сообщество
      %p
        Sass активно поддерживается и разрабатывается консорциумом
        высокотехнологичных компаний и нескольких сотен разработчиков.
    %li
      %h3 Фреймворки
      %p
        Есть бесконечное количество фреймворков, построенных на Sass.
        = succeed "," do
          = link_to "Compass", "http://compass-style.org/"
        = succeed " и" do
          = link_to "Bourbon", "http://bourbon.io/"
        = succeed " -" do
          = link_to "Susy", "http://susy.oddbird.net/"
        это только несколько примеров из огромного количества проектов.

- content_for :complementary do
  .get-started
    %h3 Начать легко
    %ol
      %li= link_to "Установка", "install"
      %li= link_to "Основы SASS", "guide"
      %li= link_to "Присоединяйся", "community"