---
title: Установка Sass
---

%h2 Существует несколько способов начать использовать Sass:
%ol.list-columns
  %li.gui-application
    %h3 Приложения
    %p= image_tag "illustrations/mouse.svg", class: "header-image", height: "160", alt: "Мышь"
    %p
      Есть немало приложений, которые помогут Вам получить в 
      работе с Sass в течении нескольких минут на Mac, Linux или
      Windows. Вы можете скачать большинство приложений бесплатно,
      но некоторые из них все-таки платные <small>(но это того стоит)</small>.

    %ul.list-feature
      %li
        = link_to "CodeKit", "http://incident57.com/codekit/"
        %span.info (Платно)
        %span.mac-icon
      %li
        = link_to "Compass.app", "http://compass.handlino.com/"
        %span.info (Платно, Open Source)
        %span.mac-icon
        %span.windows-icon
        %span.linux-icon
      %li
        = link_to "Hammer", "http://hammerformac.com/"
        %span.info (Платно)
        %span.mac-icon
      %li
        = link_to "Koala", "http://koala-app.com/"
        %span.info (Open Source)
        %span.mac-icon
        %span.windows-icon
        %span.linux-icon
      %li
        = link_to "LiveReload", "http://livereload.com/"
        %span.info (Платно, Open Source)
        %span.mac-icon
        %span.windows-icon
      %li
        = link_to "Mixture", "http://mixture.io/"
        %span.info (Бесплатно)
        %span.mac-icon
        %span.windows-icon
      %li
        = link_to "Prepros", "https://prepros.io/"
        %span.info (Платно)
        %span.mac-icon
        %span.windows-icon
        %span.linux-icon
      %li
        = link_to "Scout", "http://mhs.github.io/scout-app/"
        %span.info (Open Source)
        %span.mac-icon
        %span.windows-icon

  %li.command-line-unix
    %h3 Командная строка
    %p= image_tag "illustrations/keyboard.svg", class: "header-image", height: "160", alt: "Клавиатура"
    %dl#install-ruby-linux
      %dt Linux
      %dd
        Если Вы используете операционную систему Linux, то в первую очередь
        Вам необходимо установить Ruby. Установить Ruby можно через пакетные менеджеры
        apt, rbenv или rvm.
        %pre
          :preserve
            sudo su -c "gem install sass"

    %dl#install-ruby-windows
      %dt Windows
      %dd
        Перед тем, как начать пользоваться Sass Вам необходимо установить Ruby.
        Самый быстрый способ установить Ruby на Windows - это использовать 
        <a href="http://rubyinstaller.org">установщик Ruby</a>. Эта установка
        в один клик поможет Вам приступить к работе практически мгновенно.

      %dd
        Установщик также установит командую строку Ruby - приложение, которое
        позволит использовать все библиотеки Ruby.

      %dl#install-ruby-mac
        %dt Mac
        %dd
          Если вы предпочитаете командную строку нежели приложения, то настройка Sass
          для работы занимает считанные минуты. Так как Sass зависим от Ruby, а Вы 
          пользователь Mac, поздравляем, Ruby уже предустановлен по-умолчанию.

      %dl
        %dt Установка Sass
        %dd
          %p
            Это наибыстрейший вариант начать использовать Sass с помощью командной
            строки:

          %ol
            %li
              %p
                <strong>Откройте терминал или командную строку.</strong>
                На Mac Terminal.app установлен по-умолчанию и находится в папке
                "Программы". В Windows запустите команду `cmd`.

            %li
              %p
                <strong>Установка Sass.</strong> Ruby использует gem'ы для управления
                различными пакетами такими как Sass. В открытом терминале наберите команду:
              %pre
                :preserve
                  gem install sass
              %p
                Таким способом можно установить Sass и любые другие пакеты. Это
                просто магия =). Если у Вас отображается ошибка, в которой говорится
                о том, что нужно использовать команду <code>sudo</code> для установки
                пакета Sass, то введите в терминале:
              %pre
                :preserve
                  sudo gem install sass

            %li
              %p
                <strong>Наличие пакета.</strong> Теперь у Вас должен быть
                установлен пакет Sass, но если хотите Вы можете проверить это.
                В терминале наберите команду:
              %pre
                :preserve
                  sass -v
              - if data.respond_to?(:version)
                %p В ответ вы должны получить <code>Sass #{data.version.number} (#{data.version.name})</code>. Поздравляем! Sass успешно
                установлен.
              - else
                %p В ответ вы должны получить <code>Sass ???</code>. Поздравляем! Sass успешно установлен.

            %li
              %p
                <strong>Развлекайтесь.</strong> Если Вы новичок в Sass, то для Вас
                мы подготовили много ресурсов, которые помогут быстро изучить Sass.

              %p= link_to "Узнать больше о Sass", "/guide", :class => "button primary"
