---
title: Установка Sass
no_container: true
meta_desc: Описание как установить sass и с помощью каких инструментов его можно использовать
meta_key: установка, sass, scss, codekit, compass, koala, hammer, liveReload, mixture, prepros, scout, terminal, командная строка, ruby, windows, linux, mac
---

.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--gutters-large
  .sl-l-grid__column
    :markdown
      ## Приложения

      ![Mouse](illustrations/mouse.svg)

      Есть множество приложений под Windows, Mac и Linux, которые помогут в освоении и работе с
      Sass. Большинство из них бесплатные, но некоторые из них все-таки платные
      <small>(но это того стоит)</small>.

    %ul
      %li
        = link_to "CodeKit", "https://incident57.com/codekit/"
        (Платно)
        Mac

      %li
        = link_to 'Compass.app', 'http://compass.kkbox.com/'
        (Условно-бесплатно)
        Mac
        Windows
        Linux

      %li
        = link_to 'Ghostlab', 'http://www.vanamco.com/ghostlab/'
        (Платно)
        Mac
        Windows

      %li
        = link_to 'Hammer', 'http://hammerformac.com/'
        (Платно)
        Mac

      %li
        = link_to 'Koala', 'http://koala-app.com/'
        (Бесплатно)
        Mac
        Windows
        Linux

      %li
        = link_to 'LiveReload', 'http://livereload.com/'
        (Условно-бесплатно)
        Mac
        Windows

      %li
        = link_to 'Prepros', 'https://prepros.io/'
        (Платно)
        Mac
        Windows
        Linux

      %li
        = link_to 'Scout-App', 'http://scout-app.io/'
        (Бесплатно)
        Windows
        Linux
        Mac

  .sl-l-grid__column
    :markdown
      ## Командная строка

      ![Keyboard](illustrations/keyboard.svg)

      Когда вы используете Sass через командную строку, то для того, чтобы
      запустить компиляцию `.sass` и `.scss` в `.css` файлы введите команду
      `sass`.
      Например:

          sass source/stylesheets/index.scss build/stylesheets/index.css

      Используя любой способ установки Sass, запустите команду `sass --version`
      чтобы быть уверенным, что установка прошла успешно. Если эту команду выполнить,
      то в ответ вы получите версию Sass `#{data.version.dartsass}`. Также вы можете
      запустить команду `sass --help` для получения информации по использованию Sass
      в командной строке.

      Как только все настроено, <strong>начинайте наслаждаться</strong>. Если вы впервые
      столкнулись с Sass, то специально для вас мы создали несколько ресурсов для обучения.

    %p= link_to 'Узнать больше о Sass', '/guide', :class => 'sl-c-button sl-c-button--primary'

    %dl
      %dt Установка в любом месте (Standalone)
      %dd
        Вы можете установить Sass в Windows, Mac, или Linux путем скачивания дистрибутива
        для вашей операционной системы #{link_to 'from GitHub', release_url(:dart)} и
        <a href='https://katiek2.github.io/path-doc/'>выполните действия с
        <code>PATH</code></a>. Вот и все: никаких зависимостей нет и ничего
        не нужно устанавливать дополнительно.

      %dt Установка в любом месте (npm)
      %dd
        %p
          Если вы используете Node.js, то вы можете установить Sass c помощью
          <a href='https://www.npmjs.com/'>npm</a>:

        %pre
          :preserve
            npm install -g sass

        <strong>Однако, учтите</strong>, что это установит реализацию Sass на нативном JavaScript,
        которая работает несколько медленнее, чем другие реализации, перечисленные здесь.
        Но он имеет тот же интерфейс, поэтому будет легче поменять на другую реализацию позже,
        если вам потребуется немного больше скорости!

      %dt Установка в Windows (Chocolatey)
      %dd
        %p
          Если вы используете <a href='https://chocolatey.org/'>менеджер пакетов Chocolatey</a> для
          Windows, вы можете установить Dart Sass при помощи команды:

        %pre
          :preserve
            choco install sass

      %dt Установка в Mac OS X (Homebrew)
      %dd
        %p
          Если вы используете <a href='https://brew.sh/'>менеджер пакетов Homebrew</a> для
          Mac OS X, вы можете установить Dart Sass при помощи команды:

        %pre
          :preserve
            brew install sass/sass/sass
