---
title: libSass
meta_desc: Список проектов, портирующих sass на разные языки программирования
meta_key: sass, scss. python, node, php, javascript, java, go, .net, perl, ruby, scala, libsass
---

%p.introduction
  Мы хотим, чтобы каждый получал удовольствие от работы с Sass, независимо от
  используемого им языка. Первоначально Sass был написан на Ruby.
  = link_to "libSass", "http://libsass.org/"
  это порт ядра Sass, написанный на C/C++. Его цель — быть простым, быстрым и легко внедряемым.
  Узнайте больше об этом проекте на
  = succeed "." do
    = link_to "GitHub", "http://github.com/hcatlin/libsass"

:markdown
  ## Оболочки

  LibSass — это всего лишь библиотека. Чтобы запустить её (например, скомпилировать ваши таблицы стилей), требуется программа-обработчик, или «оболочка». Существует множество оболочек для LibSass. Мы поощряем создание новых оболочек — весь смысл LibSass в том, чтобы принести Sass во многие другие языки, а не только в Ruby!

  Ниже представлены оболочки для LibSass, о которых нам известно на данный момент. Для некоторых языков присутствует несколько оболочек — в таких случаях первыми мы размещаем те, которые имеют самые свежие обновления.

%ul.slides
  %li#sassc
    :markdown
      ### SassC
      SassC — это оболочка, написанная на языке C.

      Чтобы запустить компилятор на своём локальном компьютере, вам нужно собрать SassC. Для этого нужно либо иметь локальную копию исходников LibSass, либо он должен быть установлен в вашей системе. Для разработки, пожалуйста используйте исходники. Далее вам нужно настроить переменную среды так, чтобы она указывала в директорию LibSass, например:

    ~ partial "code-snippets/libsass-setup"

    %p
      Исполняемый файл будет находиться в директории bin. Для его запуска используйте команду, подобную этой:

    ~ partial "code-snippets/libsass-execute"

  %li#go
    :markdown
      ### Go
      [Wellington](https://github.com/wellington/wellington) - раcширение к libSass, добавляющее возможность создания спрайтов. Доступно через пакетный менеджер brew:

      `brew install wellington`

      Проект [gosass](https://github.com/moovweb/gosass) обновляется достаточно часто. Также существуют два других проекта: [go-sass](https://github.com/SamWhited/go-sass) и [go_sass](https://github.com/suapapa/go_sass), которые некоторое время не обновлялись.

  %li#java
    :markdown
      ### Java
      Для Java есть одна оболочка: [libSass Maven plugin](https://github.com/warmuuh/libsass-maven-plugin).

  %li#javascript
    :markdown
      ### JavaScript
      Единственная чистая реализация на JavaScript — это [sass.js](https://github.com/medialize/sass.js). Также существует возможность [протестировать её в браузере](http://medialize.github.io/sass.js/).

  %li#lua
    :markdown
      ### Lua
      Обёртка для lua находится на сайте [lua-sass](https://github.com/craigbarnes/lua-sass).

  %li#net
    :markdown
      ### .NET
      [libsass-net](https://github.com/darrenkopp/libsass-net) регулярно обновляется, вероятно являясь наилучшим вариантом. Также существует [NSass](https://github.com/TBAPI-0KA/NSass), хотя он некоторое время не обновлялся.

  %li#node
    :markdown
      ### Node
      Проект [node-sass](https://github.com/sass/node-sass) доказал свою популярность, и мы взяли его в основной репозиторий Sass на GitHub. Проверить обновления можно на странице пакета [здесь](https://www.npmjs.org/package/node-sass), и [на отведённом для него Твиттер-аккаунте](https://twitter.com/nodesass).

  %li#perl
    :markdown
      ### Perl
      Проект [CSS::Sass](https://github.com/sass/perl-libsass) обновляется регулярно. Также существует проект [Text-Sass-XS](https://github.com/ysasaki/Text-Sass-XS), который некоторое время не обновлялся.

  %li#php
    :markdown
      ### PHP
      Проект [SassPHP](https://github.com/sensational/sassphp) — обновлённый форк [более старой PHP версии](https://github.com/jamierumbelow/sassphp).

  %li#python
    :markdown
      ### Python
      Существуют два регулярно обновляющихся проекта для языка Python. Проект [libsass-python](https://github.com/dahlia/libsass-python) (узнать больше можно [на его сайте](http://hongminhee.org/libsass-python/)) и проект [python-scss](https://github.com/pistolero/python-scss).

      Два других проекта для Python, [pylibsass](https://github.com/rsenk330/pylibsass) и [SassPython](https://github.com/marianoguerra/SassPython), некоторое время не обновлялись.


  %li#ruby
    :markdown
      ### Ruby
      libSass также был обратно портирован на Ruby в проекте [sassc-ruby](https://github.com/sass/sassc-ruby).

  %li#scala
    :markdown
      ### Scala
      Единственный проект для Scala, [Sass-Scala](https://github.com/kkung/Sass-Scala), не обновлялся последние пару лет.

%h2 О проекте libSass

:markdown
  Идея проекта принадлежит Хамптону Катлину ([Hampton Catlin](http://twitter.com/hcatlin)),
  первоначальному разработчику Sass, и спонсируется компанией [Moovweb](http://moovweb.com/).
  Аарон Люн ([Aaron Leung](http://github.com/akhleung)) из Moovweb является главным разработчиком.

%figure
  = image_tag "logos/libsass.png", alt: "логотип libSass"

- content_for :complementary do
  %h3 Оболочки
  %ul.anchors
    %li= link_to "SassC",      "#sassc"
    %li= link_to "Go",         "#go"
    %li= link_to "Java",       "#java"
    %li= link_to "JavaScript", "#javascript"
    %li= link_to "Lua",        "#lua"
    %li= link_to ".NET",       "#net"
    %li= link_to "Node",       "#node"
    %li= link_to "Perl",       "#perl"
    %li= link_to "PHP",        "#php"
    %li= link_to "Python",     "#python"
    %li= link_to "Ruby",       "#ruby"
    %li= link_to "Scala",      "#scala"


  %h3 Источники

  %ul
    - for project in data.libsass.resources
      %li
        = link_to project.name, project.url
        &mdash;
        = project.description
